{% extends "layouts/default.html" %}

{% block content %}
<section>
  <div class="container">
    <div class="featured-courses">
      <header>
        <h2 class="heading">Featured Courses</h2>
      </header>

      {% for featuredCourse in page.featuredCourses %}
        <article>
          <div class="section">
            <h3>{{ featuredCourse.title }}</h3>
            <p>{{ featuredCourse.courseCategory.title }}</p>
            <a class="button" href="{{ featuredCourse | route('course') }}">Learn More ></a>
          </div>
          <div class="section"> 
            <div class="featured-novel-container">
              <img src="{{ featuredCourse.courseArtwork.s3Key | image }}" alt="{{ featuredCourse.title }}">
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
